.container {
  width: 30%;
  height: 80%;
  /* box-shadow: 2px 5px 20px black; */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 50px;
}

.btn:focus {
  box-shadow: none;
}

.btn-outline-primary:hover {
  background-color: lightyellow;
}

.join-signin-btns {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
